*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 11rem;
    background-image: url(/img/1050.png);

}

/* exercise3 -exercise 4*/
div{
    margin: 3rem 1rem;
    float: left;
}
.exercise1{
    color: #ffc700;
    width: 400px;
    height: 300px;
    background: #18354a;
}

.exercise2{
    color: #ffc700;
    width: 25rem;
    height: 18.75rem;
    background: #18354a;
}
.exercise3{
    color: #ffc700;
    width: 25rem;
    height: 18.75rem;
    margin: 3rem 0;
    background: #18354a;
}

.exercise4{
    color: #18354a;
    width: 25rem;
    height: 18.75rem;
    padding: 2rem;
    background: #ffc700;
}


.exercise5{
    color: #ffc700;
    width: 25rem;
    height: 18.75rem;
    background: #18354a;
}
.exercise5 span{
    border: 2px solid;
}